@media (max-width: 2560px) {
  html {
    font-size: 100%;
  }

  .main-img {
    max-width: 80%;
  }
  .contact-info-section {
    margin-bottom: 0rem;
  }
  .footer-img {
    margin-top: 5.6rem;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 75%;
  }
  .features,
  .review,
  .about-content,
  .contact-us,
  .description,
  .color-background {
    height: 80vh;
  }
  .main-img {
    max-width: 110%;
  }
  .review-text-sub {
    margin-bottom: 5.5rem;
  }
  .img-about {
    width: 110%;
  }
}
