* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


/**************************************************/
/* ************     HERO SECTION   ************* */
/**************************************************/
main {}

.color-background {
    height: 100vh;
    background: rgb(255, 200, 255);
    background: linear-gradient(217deg, rgba(255, 200, 255, 0.9360994397759104) 6%, rgba(237, 115, 240, 0.94) 38%, rgba(152, 128, 222, 0.94) 69%, rgba(156, 207, 207, 0.94) 82%, rgba(158, 217, 218, 0.94) 100%);
}