* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-weight: 400;
}
/**************************************************/
/* ************     HERO SECTION   ************* */
/**************************************************/

.color-background {
  padding-top: 7rem;
  padding-left: 8rem;
  height: 100vh;
  background: rgb(255, 200, 255);
  background: linear-gradient(
    217deg,
    rgba(255, 200, 255, 0.9360994397759104) 6%,
    rgba(237, 115, 240, 0.94) 38%,
    rgba(152, 128, 222, 0.94) 69%,
    rgba(156, 207, 207, 0.94) 82%,
    rgba(158, 217, 218, 0.94) 100%
  );
  position: relative;
  color: #fff;
}
.logo-img {
  width: 3.5rem;
}

.sub {
  display: inline-block;
  position: absolute;
  top: 8%;
  left: 7.5%;
  transform: translate(5%, 40%);
  font-size: 2rem;
}

.main-content {
  font-size: 9rem;
  text-transform: uppercase;
}
.main-content-sub {
  display: block;
}
